<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="form-container">
        <header>
            <h1 class="titulo">Formulario de registro</h1>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
        </header>

        <form action="/registro/{{ rol }}" method="post" class="form-grid">
            
            <div>
                <label>Nombre:</label>
                <input type="text" name="nombre" id="nombre" required>
            </div>

            <div>
                <label>Apellidos:</label>
                <input type="text" name="apellidos" id="apellidos" required>
            </div>

            <div class="full-width">
                <label>Email:</label>
                <input type="email" name="email" id="email" required>
            </div>

            <div class="full-width">
                <label>Dirección:</label>
                <input type="text" name="direccion" id="direccion" required>
            </div>

            {% if rol != 'cliente' %}
                <div>
                    <label>Departamento:</label>
                    <select name="id_dpto" id="id_dpto">
                        {% for dpto in departamentos %}
                            <option value="{{ dpto.id }}">
                                {{ dpto.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label>Sede:</label>
                    <select name="id_sede" id="id_sede">
                        {% for sede in sedes %}
                            <option value="{{ sede.id }}">
                                {{ sede.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            <div class="full-width">
                <label>Contraseña:</label>
                <input type="password" name="passwd" id="passwd" required>
            </div>

            <input type="hidden" name="rol" id="rol" value="{{ rol }}">

            <div class="form-actions">
                <a href="{{ back_url }}" class="btn-exit">Volver</a>
                <input type="submit" value="Registrar">
            </div>
        </form>
    </div>
</body>
</html>