<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1 class="titulo">Formulario de registro</h1>

    {{ error }}

    <form action="/registro/{{ rol }}" method="post">
        <label class="label">Nombre:</label>
        <input type="text" name="nombre" id="nombre" required>
        <br><br>

        <label class="label">Apellidos:</label>
        <input type="text" name="apellidos" id="apellidos" required>
        <br><br>

        <label class="label">Email:</label>
        <input type="email" name="email" id="email" required>
        <br><br>

        <label class="label">Direccion:</label>
        <input type="direccion" name="direccion" id="email" required>
        <br><br>

        {% if rol != 'cliente' %}

        <label class="label">Departamento:</label>
        <select name="id_dpto" id="id_dpto">

            {% for dpto in departamentos %}

                <option value="{{ dpto.id }}">
                    {{ dpto.nombre }}
                </option>

            {% endfor %}

        </select>

        <br><br>

        <label class="label">Sede:</label>
        <select name="id_sede" id="id_sede">

            {% for sede in sedes %}

                <option value="{{ sede.id }}">
                    {{ sede.nombre }}
                </option>

            {% endfor %}

        </select>

        <br><br>

        {% endif %}

        <label class="label">Contraseña:</label>
        <input type="password" name="passwd" id="passwd" required>
        <br><br>

        <input type="hidden" name="rol" id="rol" value="{{ rol }}">

        <button type="submit">Registrar</button>
    </form>

    <p><a href="{{ back_url }}">Volver</a></p>
</body>
</html>
